
input[type='submit'], button {
  border: 1px solid $red;
  color: $red;
  border-radius: 3px;
  padding: 10px;
  background: $ltGr;
  font-size: 15px;
  margin-left: 20px;
}

.x{
 border: 1px solid $red;
 color: $red;
 border-radius: 10px;
 padding: 5px;
 background: $ltGr;
}
