//gold scheme
// $dkOrg: #CC5803;
// $mdOrg: #E2711D;
// $ltOrg: #ff9505;
// $yllw: #FFB627;
// $pech: #FFC971;

//red scheme
$red: #960000;
$ltGr: #696D7D;
$whte: #EEF0F2;
$dkGr: #1C1D21;
$blk: #0F1414;
$gld: #FFBD00;
