<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <header class="main-header">
      <nav class="main-nav">
        <a class="links" href="/login">Back</a>
      </nav>
    </header>
    <h2>Welcome to ! ! Beats</h>
    <h4>
      This is the first evolution of this app.  It allows you to search for an for a favorite artist and returns a series of images. It also shows you a search history.
    </h4>
    <p>The next evolution hoped for will allow you to create a playlist based on the tempo of your choice.  Perfect for the:</p>
      <ul>
        <li>runner wanting to have a consistent pace</li>
        <li>the trainer who wants a tempo for their class</li>
        <li>the dj who wants the beat to drop when they say so</li>
      </ul>
      <p>
        The possibilities are endless.  Enjoy your time here.  There will be more features to come.
      </p>
  </body>
</html>
