<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="main-header">
      <h1>! ! Beats</h1>
    </header>
    <main class="main">
    {{{body}}}
  </main>
  </body>
</html>
