<body>
  <header class="main-header">
    <nav class="main-nav">
      <a href="/about" class="links">About</a>
    </nav>
  </header>
  <h2>Create a user account here!</h2>

  <form action="/register" method="POST">
    <input id="email" type="email" name="email" value="" placeholder="Email Address"> <br>

    <input id="password" type="password" name="password" placeholder="Password">
    <br>
    {{#if errors}}
      <p>{{errors}}</p>
    {{/if}}
    <br>
    <br>
    <input type="submit" value="Register">
  </form>

  <h3>Already have a user account? Click<a href="/login"><button>HERE</button></a> to login.</h3>

</body>
