<h1>Build a Playlist</h1>

<a href="/logout">Logout</a>  |
<a href="/about">About</a>  |
<a href="songs/new">Search for Artists!</a>
<br>
<br>
<div class="songs">
  {{#each artists.items}}
      <img src="{{images.1.url}}" alt="" />
  {{/each}}
</div>
