<body>
<header class="main-header">
  <nav class="main-nav">
    <a href="songs/new" class="links">Search for Artists!</a>
    |<a href="/logout" class="links"> Logout</a>
  </nav>
  <h3>Find Images of your Favorite Artists</h3>
</header>

<aside class="aside">
  <h3>Search History</h3>
  {{#songs}}
  <form action="/songs/{{_id}}/delete" method ="POST">
    {{query}}
    <input class='delete`' type="submit" value = 'X' >
  </form>
  {{/songs}}
</aside>


<div class="songs">
  {{#each data.artists.items}}
      <img class="cover" src="{{images.0.url}}" alt="" />
  {{/each}}
</div>
</body>
