<h1>Build a Playlist</h1>

<a href="/logout">Logout</a>  |
<a href="/about">About</a>  |
<a href="songs/new">Search for Artists!</a>
<br>
<br>


<aside class="">
  {{#songs}}
  <form action="/songs/{{_id}}/delete" method ="POST">
    {{query}}
    <input class='indBut' type="submit" value = 'X' >
  </form>
  {{/songs}}
</aside>


<div class="songs">
  {{#each data.artists.items}}
      <img src="{{images.1.url}}" alt="" />
  {{/each}}
</div>
