<h1>New Artist Playlist</h1>
  <a href="/logout">Logout</a>    |
  <a href="/songs">Home Page</a>
<br>
<br>
<br>
<form class="" action="/songs" method="post">
  <label for="url">Search for Artist</label>
    <input type="url" name='url' class="url" id="url" value="">
  <input type="submit" value="submit">
</form>
