<div class="container">
  <header class="main-header">
    <nav class="main-nav">
      <a href="/logout" class="links">Logout </a>
      <a href="songs/new" class="links">Search for Artists!</a>
    </nav>
    <h3>Find Images of your Favorite Artists</h3>
  </header>
    <p class="new">Type an artist name and click on "Search".</p>
    <form class="" action="/songs" method="post" id="search-form">
      <input type="text" name = 'query' id="query" value="" class="form-control" placeholder="Type an Artist Name"/><br>
      <input type="submit" id="search" class="btn btn-primary" value="Search"/>
    </form>
    <div id="results"></div>
</div>
