<h1>New Gif</h1>
  <a href="/logout">Logout</a>
  <a href="/gifs">Home Page</a>
<br>
<form class="" action="/gifs" method="post">
  <label for="url">Add a URL</label>
    <input type="url" name='url' class="url" id="url" value="">

  <label for="author">Author</label>
    <input type="text" name="author" id="author" value="">

  <label for="description">Gif Description</label>
    <input type="textarea" name='description' id="description" value="">

  <label for="safe">Safe for work?</label>
    <input type="checkbox" name="safe" id='safe' value="">

  <input type="submit" value="submit">
</form>

<img class="img"  />
<script src="/javascripts/client.js"></script>
